.switcherButton{
    max-height: 40px;
}

.switcher{
    position: relative;
}

.text{
    margin: 0;
    padding: 10px 14px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        background-color: var(--inverted-color);
        color: var(--primary-color);
    }
}
